<ul>
  <li *ngFor="let video of videoList">
    <p>{{video.title}}</p>
    <img [src]="video.thumbnailUrl"/>
    <p>Channel: {{video.channelTitle}}</p>
    <p>{{video.publishedAt}}</p>
    <code>{{video.description}}</code>
  </li>
</ul>
