div#menu {
    height: 95vh;
    width: 29%;
    float: left;
    position: relative;
    background-color: #b3b3b3;
    box-shadow: 4px 4px 4px #202020;
}

div.container{
    height: 95vh;
    width: 70%;
    float: right;
    position: relative;
}

div#video {
    position: absolute;
    width: 100%;
    height: 52vh;
    background-color: #b3b3b3;
    box-shadow: 4px 4px 4px #202020;

}

div#list {
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 55vh;
    background-color: #b3b3b3;
    box-shadow: 4px 4px 4px #202020;

}