<!-- <div class="main">
    <div id="menu"><app-yt-list></app-yt-list></div>
    <div class="container">
        <div id="video"></div>
        <div id="list"></div>
    </div>
</div> -->
<div>
    <app-youtube-nav></app-youtube-nav>
    <app-youtube-list></app-youtube-list>
</div>
