div#navigation {
    width: 100%;
    height: 120px;
    background-color: red;
    text-align: center;
}

img.logo {
    width: 120px;
    height: 60px;
    display: inline;
    position: relative;
    margin: 0 auto;
}

input {
    height: 25px;
    width: 30vw;
    border: 2px solid white;
    box-shadow: 1px 1px 1px grey;
}
